<h1>Editing Expense Category</h1>
<%= render 'form', expense_category: @expense_category %>
<div class='flex justify-center align-middle gap-3 mt-10'>
  <%= link_to 'Show', @expense_category, class: 'hover:bg-yellow-200' %> |
  <%= link_to 'Back', expense_categories_path: 'hover:bg-yellow-200' %>
</div>