<div class='flex justify-center align-middle'>
	<div class='border border-2 border-yellow-300 rounded flex flex-col p-8'>
			<p class='font-medium text-xl'>Current balance</p>	
			<span class='text-2xl font-semibold italic'><%= number_to_currency current_user.balance.value %></span>
	</div>
</div>