<h1>Editing Income Category</h1>

<%= render 'form', income_category: @income_category %>

<div class='flex justify-center align-middle gap-3 mt-10'>
	<%= link_to 'Show', @income_category, class: 'hover:bg-yellow-200' %> |
	<%= link_to 'Back', income_categories_path, class: 'hover:bg-yellow-200' %>
</div>
